body{
    font-family: sans-serif;
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: inherit;
}
form input[type=file]{
    display: none;
}
.frame{
    transition: padding 450ms;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 100%;
    min-height: 100vh;
    padding-left: 0
}
.frame.left{
    /* transform: translateX(220px); */
    padding-left: 220px
}
.frame.top{
    padding-top: 65px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    margin: 2em auto;
    width: 94%;
    position: relative;
}
.container.list{
    justify-content: flex-start;
}
@media (max-width: 800px){
    .frame.left{
        padding-left: 0px;
    }
}


/* ANIMATIONS */
.fadeinup-enter {
    opacity: 0.01;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}

.fadeinup-enter.fadeinup-enter-active {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    transition: all 500ms
}

.fadeinup-leave {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.fadeinup-leave.fadeinup-leave-active {
    opacity: 0.01;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    transition: all 400ms
}

@keyframes leftOff {
    from {
        left: -220px
    }
    to {
        left: 0
    }
}
@keyframes topOff {
    from {
        margin-top: -70px;
    }
    to {
        margin-top: 0
    }
}
@keyframes fadeIn {
    from {
        opacity: 0.01;
    }
    to {
        opacity: 0.5;
    }
}
@keyframes fadeOut {
    from {
        opacity: 5;
    }
    to {
        opacity: 0.01;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0.01;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes fadeOutUp {
    from {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        opacity: 0.01;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
}


/* .fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
.fadeOutUp {
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
}
.animated {
    -webkit-animation-duration: 0.8s ;
    animation-duration: 0.8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
 */
